<div class="box" style="display: block; position: absolute; top: -85px">
  <span onclick="top_move_btn();"></span>
  <img
    src="../../assets/images/bottom_nav.PNG"
    alt="bottom_nav"
    class="bottom_nav"
    id="bottomNav"
  />
</div>
<div class="bottom-banner">
  <div class="bottom-row">
    <div class="bottom-row-inline">
      <strong>다온입시컨설팅</strong>
      <br />
      대표: 김현아 | 교습과정: 교육상담 | 사업자등록번호: 150-58-00475
      <br />
      주소: 경기도 김포시 유현로242, 303호 | 대표문의: 031-8049-0807
      <br />
      이메일: ges2536@naver.com
    </div>
  </div>
</div>
