<div class="box" style="display: block; position: absolute; top: -85px">
  <span onclick="top_move_btn();"></span>
  <img
    src="../../assets/images/bottom_nav.PNG"
    alt="bottom_nav_icon"
    class="bottom_nav_icon"
    id="bottomNav"
  />
</div>
<div class="bottom-banner">
  <!-- 오시는 길 | Q&A 영역 추가 -->
  <div class="bottom-link-row">
    <ul class="link-list">
      <li><a href="/pages/description/map.html">오시는길</a></li>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <li><a href="/pages/question/frequent-question.html">Q&A</a></li>
    </ul>
  </div>

  <hr class="separator" />

  <div class="bottom-row">
    <div class="bottom-row-flex">
      <div class="left-column">
        <strong>다온입시컨설팅</strong>
      </div>
      <div class="right-column">
        대표: 김현아 | 교습과정: 교육상담 | 사업자등록번호: 150-58-00475
        <br />
        이메일: ges2536@naver.com | 대표문의: 031-8049-0807
        <br />
        주소: 경기도 김포시 유현로242, 303호
      </div>
    </div>
  </div>  
</div>
