<nav>
  <a href="/index.html">
    <img src="/assets/images/daon_image.PNG" alt="Logo" class="navbar-logo" />
  </a>
  <ul>
    <li class="menu-item">
      <a href="/pages/description/center.html">센터안내</a>
      <ul class="nav-submenu">
        <li><a href="/pages/description/center.html">센터소개</a></li>
        <li><a href="/pages/description/map.html">오시는길</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="/pages/entrance-highschool/entrance.html">고입컨설팅</a>
      <ul class="nav-submenu">
        <li>
          <a href="/pages/entrance-highschool/entrance.html">진학컨설팅</a>
        </li>
        <li>
          <a href="/pages/entrance-highschool/student-record.html"
            >생기부컨설팅</a
          >
        </li>
        <li>
          <a href="/pages/entrance-highschool/self-introduction.html"
            >자소서컨설팅</a
          >
        </li>
        <li>
          <a href="/pages/entrance-highschool/interview.html">면접컨설팅</a>
        </li>
        <li>
          <a href="/pages/entrance-highschool/self-introduction-temp.html">tempPage</a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="/pages/entrance-university/record-analysis.html">대입컨설팅</a>
      <ul class="nav-submenu">
        <li>
          <a href="/pages/entrance-university/record-analysis.html"
            >생기부분석</a
          >
        </li>
        <li>
          <a href="/pages/entrance-university/record-management.html"
            >생기부관리</a
          >
        </li>
        <li>
          <a href="/pages/entrance-university/susi.html">수시컨설팅</a>
        </li>
        <li>
          <a href="/pages/entrance-university/interview.html">면접컨설팅</a>
        </li>
        <li>
          <a href="/pages/entrance-university/jungsi.html">정시컨설팅</a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="/pages/question/frequent-question.html">Q&A</a>
      <ul class="nav-submenu">
        <li>
          <a href="/pages/question/frequent-question.html"
            >자주묻는질문</a
          >
        </li>
      </ul> 
    </li>
    
  </ul>
</nav>
